%h1= @project.name
#user_stories
  = form_for @project, :url => refresh_project_path(@project) do |form|
    = form.submit "Refresh"
  - if @project.user_stories.empty?
    This project have no user story yet
  - else
    - @project.user_stories.each do |user_story|
      %div{ :class => "#{user_story.status}" }= user_story.feature
